# Exemplo de configuração - Preencha com seus dados reais no arquivo .env
API_V1_STR=/api/v1

DB_USER_API=
DB_PASS_API=
DB_HOST_API=
DB_PORT_API=
DB_NAME_API=

DB_USER_JEDI=
DB_PASS_JEDI=
DB_HOST_JEDI=
DB_PORT_JEDI=
DB_NAME_JEDI=

JWT_SECRET=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080

WPM_INFANTIL=110
WPM_ADULTO=200
WPM_IMAGEM=4